.logo{
    color: #fff;
    font-weight: bold;
    font-size: 1.4em;
    /* background-color: blue; */
}

.logo-left{
    background-color: #a8171e;
    padding: 3px 3px 3px 3px;
    border-radius: 24px;
}

.logo-right{
    padding: 5px 8px 3px 3px;
    margin-left: -5px;
    border-radius: 14px;
}

.logo-text{
    color: yellow;
    font-weight: bold;
    font-size: .8em;
}