<div class="sidebar">
    <h4></h4>
    
    <div class="sidebar-link">
      <a routerLink="/corona-news">News</a>
    </div>

    <div><hr /></div>

    <div class="sidebar-link">
      <a routerLink="/corona-global">Global</a>
    </div>

    <div><hr /></div>

    <div class="sidebar-link">
        <a routerLink="/corona-totals">Countries</a>
    </div>

    <div><hr /></div>
    
    <div class="sidebar-link">
      <a routerLink="/google-chart/area-chart">Charts</a>
    </div>
    
    <!-- <div><hr /></div>

    <div class="sidebar-link">
      <a routerLink="/google-chart/map">Maps</a>
    </div> -->

    <!-- <div class="sidebar-link">
      <a routerLink="/google-chart/line-chart">Charts</a>
    </div> -->


    <!-- Not implemented yet ... -->
    <!-- <div><hr /></div>
    <div class="sidebar-link">
      <a routerLink="/corona-day">By Day</a>
    </div>

    <div class="sidebar-link">
        <a routerLink="/books">Books</a>
    </div> -->

</div>

<!-- <div class="sidenav">
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#clients">Clients</a>
    <a href="#contact">Contact</a>
    <button class="dropdown-btn">Dropdown 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
    <a href="#contact">Search</a>
  </div> -->

